#pageTitle {
  color: #FFFFFF;
  font-size: 50px;
}

.hidden{
  display:none;
}
.shown{
  display:block;
}
body {
  margin-top: 150px;
  background-color: #fac3c3;
  overflow-x: hidden;
}
/* .card-body{
  background-color: #EEEEEE;

} */
#pageBody {
  min-height: 575px;
}
.modal{
  border-radius:0px;
}
p{
  color:#000000;
  /*color:#922029;*/
}
hr{
  border-top: 3px solid #e2e2e2;
  width: 35%;
  margin-left:0;
  text-align:left;
}
h5{
  color: black;
  font-size: 30px;
}
h1{
  animation-delay: 0.5s;
  font-size:45px;
  align-self: center;
  text-align: center;
  color:#e2e2e2;
}
h2{
  font-size:25px;
  align-self: left;
  text-align: left;
  color:#000000;
}
.game-container{
  position: relative;
  width: 100%;
  padding-bottom: 60%;
}
.game{
  position: absolute;
  background-color: black;
  width: 100%;
  height:100%;
}
.playButton{
  position: absolute;
  width: 100%;
  height:100%;
  border:0;
  
}
.project{
  max-width: 150px;
  height: auto;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

navbar-header{
  align-items: center;
}
th {
  background-color: #31444b;
  color: white;
}


.form-check-label{
  font-size: 14px;

}
.bottom-buffer{
  margin-bottom: 20px;
}

.top-buffer{
  margin-top: 20px;
}

.bottom-buffer-large{
  margin-bottom: 50px;
}
.bold{
  font-weight: bold;
}


